
<div class="container center">

<!--<h1>PC Magazine Web Scrapper</h1>-->

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">PC Magazine Web Scrapper</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/">Home</a></li>
      <li><a href="/saved">Saved Articles</a></li>
      <li><a href="/scrape">Scrape New Articles</a></li>
      <li><a href="/review">View Notes</a></li>
    <!--  <li><a href="/articles">API</a></li>-->
      <span><button type="button" id="save-count"  class="btn btn-primary" data-toggle="modal" data-target="#myModal">Count Saved</button></span>
    </ul>
  </div>
</nav>

<!-- show count saved modal -->
          <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog">
          <!-- modal content-->
            <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Saved Articles</h4>
            </div>

            <div class="modal-body">
              <p>You have saved <span id="savedQty"></span> articles.</p>
            </div>

            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
      
<h2>SAVED ARTICLES</h2>

      {{#each Article}}
      <table>
      <th>Headline</th><th>Summary</th><th>URL</th><th></th><th></th>
      <tr>
      <td width="28%" class="box"> {{title}}  </td>
      <td width="40%" class="box"> {{summary}}  </td>
      <td width="30%" class="box"><a href="{{link}}" target="_blank"> {{link}} </a> </td>
      <td width="1%" class="box"> 
          <button type="submit" id="addNote" class="btn btn-primary" data-toggle="modal" data-target="#newModal">Add Note</button> 
      </td>
      <td width="1%" class="box"> 
            <form action="/articles/{{this.id}}?_method=DESTROY" method="GET">
            <input type="hidden" name="_method" id="delete" value="DELETE">
            <button type="submit" id="deleteArticle" class="btn btn-primary">Delete Article</button>
            </form>
      </td>
      </tr>
      </table>
 
      <!-- show add note modal -->
          <div class="modal fade" id="newModal" role="dialog">
            <div class="modal-dialog">
          <!-- modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Add Note for article: </h4>
             <!-- <h4 class="modal-title">Add Note for article: <span class="blue">{{this.id}}</span>  </h4>-->
            </div>

            <div class="modal-body">
              <form action="/articles/{{this.id}}?_method=UPDATE" method="GET"></form>
              {{!-- <input type="hidden" name="_method" id="note" value="PUT"> --}}
              <input type="text" id="note" placeholder="enter note" size="50" >
              <button type="submit" id="saveNote" class="btn btn-primary" data-toggle="modal" data-target="#newModal">Save Note</button>
              </form>
            </div>

            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>

     {{/each}}

</div>
<!--container ends-->
